<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mi Lista de Tareas</title>
</head>
<body>
    <h1>Mi Lista de Tareas</h1>
    <!-- Para agregar una imagen -->
    <img src="Captura de pantalla_11-11-2024_103713_www.bing.com.jpeg" width="10%">
       <!-- Para agregar una nueva tarea -->
    <p>Escribe una tarea nueva:</p>
    <input placeholder="Escribe aquí tu tarea...">
    <button>Agregar Tarea</button>
    <h2>Tareas Pendientes</h2>
    <p>Lista de tus tareas por hacer:</p>

    <!-- Lista de tareas -->
    <ul>
        <li>Tarea 1 <button>Hecho</button></li>
        <li>tarea 2 <button>Hecho</button></li>
        <li>Tarea 3 <button>Hecho</button></li>
    </ul>

    <!-- Guía de uso -->

    <h3>¿Cómo funciona?</h3>
    <p>Escribe la tarea en el campo de texto y haz clic en "Agregar Tarea". Puedes eliminar cualquier tarea haciendo clic en el botón "Hecho" junto a ella.<br>¡Organiza tu día de manera fácil y rápida con esta lista de tareas!</p>

</body>
</html>